<?xml version="1.0" encoding="UTF-8"?>
<plugin id="ua.cqr.cordova-image-to-video" version="0.1.0" xmlns="http://apache.org/cordova/ns/plugins/1.0">
  <name>Image To Video</name>
  <description>iOS Cordova plugin for converting images (frames) to video</description>
  
  <js-module name="ImageToVideo" src="www/image-to-video.js">
    <clobbers target="ImageToVideo" />
  </js-module>
  <js-module name="ImageToVideoOptions" src="www/image-to-video-options.js">
    <clobbers target="ImageToVideoOptions" />
  </js-module>
  
  <platform name="ios">
    <config-file parent="/*" target="config.xml">
      <feature name="ImageToVideo">
        <param name="ios-package" value="CDVImageToVideo" />
      </feature>
    </config-file>
    <source-file src="src/ios/CDVImageToVideo.swift" />
  </platform>
</plugin>
